<launch>

     <node pkg="amcl" type="amcl" name="amcl_node" >

        <remap from="/map" to="/husky_1/map" />
        <param name="use_map_topic" value="true" />
        <param name="base_frame_id" value="husky_2/base_link" />
        <param name="odom_frame_id" value="husky_2/odom" />
        <remap from="/scan" to="/husky_2/scan" />
          
    </node>

</launch>